:root {
  --lineColour: #191919;
  --primary_colour: #191919;
  --secondary_colour: #2f2f2f;
  --grey: #f3f3f3;
}
.analysis-Yellow /*id of topSection*/ {
  outline: 12px solid yellow;
}
.analysis-Red {
  outline: 12px solid red;
}
.analysis-Green {
  border: 8px solid green;
}
.analysis-Cyan {
  border: 12px solid cyan;
}
