@mixin minw($mw) {
  @media (min-width: $mw) {
    @content;
  }
}
@mixin maxw($mw) {
  @media (max-width: $mw) {
    @content;
  }
}
@mixin introAnimation($anim) {
  animation: $anim 2s cubic-bezier(0.2, 0.01, 0.29, 0.98) forwards;
}
@mixin lineShadow($rightshift, $bottomshift, $blur, $spread, $colour) {
  box-shadow: $rightshift $bottomshift $blur $spread $colour;
  -webkit-box-shadow: $rightshift $bottomshift $blur $spread $colour;
}
