:root {
  --mainRevealWidth: 100vw;
  --navHeight: 83px;
  --lineWeight: 2px;
  --lineColour: #191919;
  --primary_colour: #191919;
  --secondary_colour: #2f2f2f;
  --grey: #e9e9e9;
  --desk1Container1Width: 630px; /*at a window width 1000*/
  --desk2Container1Width: 1031px; /*at a window width 1600*/
  --s1TopMargin: 80px;
  --vBlockWidth: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.absolute {
  position: absolute;
}

@media (max-width: 1340px) {
  #topSection {
    flex-direction: column;
    justify-items: flex-end;
  }
  #topSection #detailsS1 {
    display: none;
  }
}
@media (min-width: 1805px) {
  #topSection h1 {
    font-size: 11.2rem;
  }
}

@media (min-width: 1341px) {
  #detailsS1 {
    display: flex;
  }
}
@media (max-width: 1340px) {
  #detailsS1 {
    display: none;
  }
}

@media (min-width: 1805px) {
  #mainTitleContainer .nameAndTypeOfRole {
    width: 53.5vw;
  }
}
@media (min-width: 1805px) {
  #mainTitleContainer h1 .highlighted::after {
    width: 55.5vw;
  }
}

@media (max-width: 1340px) {
  .accordion #lgAccCont {
    display: none;
  }
}

#rails {
  width: 100vw;
  height: 710px;
  border-bottom: 15px solid var(--primary_colour);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  z-index: 1;
}
#rails .cover {
  width: 100%;
  background-color: var(--secondary_colour);
  height: 1250px;
  z-index: 2;
}
#rails #mainReveal {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  gap: 0;
}
#rails #mainReveal #accordionLeft .vLine {
  filter: drop-shadow(4px 0 3px hsla(0, 0%, 18%, 0.292));
  flex-shrink: 0;
}
#rails #mainReveal #accordionRight .vLine {
  filter: drop-shadow(-4px 0 3px hsla(0, 0%, 18%, 0.292));
  flex-shrink: 0;
}
#rails #mainReveal .accordion {
  width: 30%; /*use percentages*/
  display: flex;
  flex-direction: row;
}
#rails #mainReveal .accordion .lgAccCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 264px;
  flex: 2;
  padding-top: 104px;
}
#rails #mainReveal .accordion .smAccCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 240px;
  padding-top: 110px;
  flex: 1;
}
#rails #mainReveal .accordion .tallVLine {
  height: calc(100% + var(--navHeight));
  position: relative;
  top: calc(-1 * var(--navHeight));
  z-index: 3;
  background: linear-gradient(white 13.35%, var(--lineColour) 13.35%);
  flex-shrink: 0;
}
#rails #mainReveal #center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#rails #mainReveal #center .centerAccordion {
  height: 72px;
}
#rails #mainReveal #center .centerAccordion .centAccCont {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
#rails #mainReveal #center #shapeShift-container {
  display: flex;
  align-items: center;
  animation: adjustHeight 20s infinite;
}
#rails #mainReveal #center #shapeShift-container #shapeShift {
  height: 350px;
  width: 100%;
  background-color: var(--primary_colour);
}
#rails #mainReveal #center #shapeShift-container #shapeShift .block {
  background-color: white;
}
#rails #mainReveal #center #shapeShift-container #shapeShift #leftBlock {
  animation: leftBlock 20s infinite;
}
#rails #mainReveal #center #shapeShift-container #shapeShift #topPart {
  display: flex;
  animation: topMovingGap 20s infinite;
}

@keyframes leftBlock {
  59% {
    width: 100%;
  }
  70% {
    width: 163px;
  }
  90% {
    width: 100%;
  }
}
@keyframes topMovingGap {
  59% {
    gap: var(--vBlockWidth);
  }
  70% {
    gap: 0px;
  }
  90% {
    gap: var(--vBlockWidth);
  }
}
@keyframes topPadding {
  59% {
    padding-right: 0;
  }
  70% {
    padding-right: var(--vBlockWidth);
  }
  90% {
    padding-right: 0;
  }
}
@keyframes adjustHeight {}
.hLine {
  width: 100%;
  height: var(--lineWeight);
  min-height: var(--lineWeight);
  flex-shrink: 0;
}

.vLine {
  height: 100%;
  width: var(--lineWeight);
  min-width: var(--lineWeight);
  flex-shrink: 0;
}

.line {
  background-color: var(--lineColour);
  flex-shrink: 0;
}

.partHeight {
  height: 100%;
}

nav {
  height: var(--navHeight);
  background-color: var(--primary_colour);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 93%;
  list-style-type: none;
  color: white;
}
nav ul .moveLeft {
  margin-right: 25px;
}
nav ul li a {
  font-size: 18px;
  color: white;
}

/*main gets display flex. push center shapeshift outwards*/
.grey {
  background-color: var(--grey);
}

.black {
  background-color: var(--primary_colour);
}

section {
  outline: 4px solid red;
  border-bottom: 10px solid black;
}

#one {
  height: 1347px;
  position: relative;
  overflow-x: hidden;
}
#one .containerS1 {
  display: flex;
  margin-left: 24px;
  gap: 4.5vw;
  position: relative;
  left: 10%;
}
#one .containerS1 .leftDetails {
  display: flex;
  align-items: flex-start;
}
#one .containerS1 .leftDetails #s1vLine {
  background-color: var(--grey);
}
#one .containerS1 .leftDetails #fillerCont {
  padding-top: var(--s1TopMargin);
  padding-bottom: var(--s1TopMargin);
}
#one .containerS1 .leftDetails #fillerCont #fillerOne {
  height: 100%;
  position: absolute;
  left: -100%;
  right: 0;
  width: 100%;
}
#one .vLine {
  height: 100%;
}

.yellow {
  border: 12px solid yellow;
}

.green {
  border: 8px solid green;
}

.cyan {
  border: 12px solid cyan;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.whFiller {
  width: 100%;
  height: 100%;
}

.wFiller {
  width: 100%;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.contentContainer #mainTitleContainer {
  margin-top: var(--s1TopMargin);
  margin-bottom: var(--s1TopMargin);
}
.contentContainer #centerDivider {
  height: 74px;
  flex-shrink: 0;
  position: relative;
}
.contentContainer #centerDivider::after {
  content: ".";
  color: transparent;
  position: absolute;
  background-color: var(--secondary_colour);
  top: 0px;
  left: -100vw;
  height: var(--lineWeight);
  width: 100vw;
  z-index: -1;
}
.contentContainer #centerDivider::before {
  content: ".";
  color: transparent;
  position: absolute;
  background-color: var(--secondary_colour);
  top: 70px;
  left: -100vw;
  height: 2px;
  width: 100vw;
  z-index: -1;
}
.contentContainer #topSection,
.contentContainer #bottomSection {
  display: flex;
  height: 100%;
}
.contentContainer #topSection #tblSkillSet,
.contentContainer #bottomSection #tblSkillSet {
  border-collapse: separate;
  border: 2px solid #bababa;
  border-spacing: 80px;
}
.contentContainer #topSection #tblSkillSet td,
.contentContainer #bottomSection #tblSkillSet td {
  outline: 2px solid indigo;
}
.contentContainer #topSection #tblSkillSet tbody,
.contentContainer #bottomSection #tblSkillSet tbody {
  border-spacing: 0;
}
.contentContainer #topSection {
  display: flex;
  gap: 97px;
  margin-top: var(--s1TopMargin);
}
.contentContainer #topSection #detailsS1 {
  width: 212px;
  flex-shrink: 0;
  align-items: center;
  border-left: 2px solid #bababa;
  border-right: 2px solid #bababa;
}
.contentContainer #topSection #detailsS1 .greyBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  margin-top: -25px;
}
.contentContainer #topSection #detailsS1 .greyBlock img {
  width: 35px;
  height: 35px;
}
.contentContainer #topSection #mainTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contentContainer #topSection #mainTitleContainer i {
  font-size: 1.3rem;
  color: var(--secondary_colour);
  margin-left: 3px;
  letter-spacing: 90%;
  max-width: 500px;
}
.contentContainer #topSection #mainTitleContainer h1 {
  font-size: 180px;
  line-height: 159px;
  margin-top: 50px;
  margin-bottom: 42px;
  color: var(--secondary_colour);
}
.contentContainer #topSection #mainTitleContainer h1 .highlighted {
  position: relative;
}
.contentContainer #topSection #mainTitleContainer h1 .highlighted::after {
  content: ".";
  position: absolute;
  display: inline-block;
  width: 1013px;
  height: 129px;
  background-color: var(--grey);
  color: transparent;
  top: 42px;
  left: -30px;
  z-index: -1;
}
.contentContainer #topSection #mainTitleContainer h1 .bold {
  font-weight: 800;
}
.contentContainer #topSection #mainTitleContainer .nameAndTypeOfRole {
  margin-left: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=styles.css.map */