:root {
  --mainRevealWidth: 100%;
  --navHeight: 50px;
  --vlineWidth: 0.2vh;
  --hLineHeight: 0.2vh;
  --lineColour: #191919;
  --primary_colour: #191919;
  --secondary_colour: #2f2f2f;
  --grey: #c8c8c8;
  --desk1Container1Width: 630px; /*at a window width 1000*/
  --desk2Container1Width: 1031px; /*at a window width 1600*/
  --s1TopMargin: 80px;
  --vBlockWidth: 55px;
  --XLSCREEN: 1200px;
  --DIVIDER1HEIGHT: 30px;
  --CYANMARGINWIDTH: 70px;
}
@mixin margin($marginTop, $marginBottom) {
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
}
@mixin lineShadow($rightshift, $bottomshift, $blur, $spread, $colour) {
  box-shadow: $rightshift $bottomshift $blur $spread $colour;
  -webkit-box-shadow: $rightshift $bottomshift $blur $spread $colour;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.noAnalysis {
  border: none !important;
}
.w-12vw-xl {
  @media (min-width: 1199px) {
    width: 12.5vw !important;
  }
}
.w-7vw {
  @media (max-width: 1199px) {
    width: 7vw !important;
  }
}
.pt-12vh {
  padding-top: 12vh;
}
.mt-100 {
  margin-top: 100px;
}
.left-0 {
  left: 0;
}
.bg-black {
  background-color: black;
}
.absolute {
  position: absolute;
}
.greyBdr-left {
  border-left: 2px solid var(--grey);
}
.greyBdr-right {
  border-right: 2px solid var(--grey);
}
.greyBdr-bottom {
  border-bottom: 2px solid var(--grey);
}
.greyBdr-top {
  border-top: 2px solid var(--grey);
}
.greyBdr-all {
  border: 2px solid var(--grey);
}
.flexItemsCenter {
  display: flex;
  justify-items: center;
}
.flexAlignItemsCenter {
  display: flex;
  align-items: center;
}
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}
.flexLeftRight {
  display: flex;
  flex-direction: row;
}
//step: 30vh * vw/max width for that step
//media queries

.accordion {
  @media (max-width: 1340px) {
    #lgAccCont {
      display: none;
    }
  }
}
//end media queries
#rails {
  width: 100%;
  border-bottom: 15px solid var(--primary_colour);
  display: flex;
  justify-content: center;
  margin-top: var(--navHeight);
  z-index: 1;
  height: 70vh;
  .cover {
    width: 100%;
    // background-color: hsl(0 0 calc(10 + calc(calc(var(--mainRevealWidth) * 100) / 100vw))); /*hsl(0,0,10 +mainRevealWidth*100/vw*/
    background-color: var(--secondary_colour);
    height: 1250px;
    z-index: 2;
  }
  #mainReveal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 0;
    #accordionLeft {
      .vLine {
        @include lineShadow(9px, 0px, 15px, -4px, rgba(0, 0, 0, 0.34));
      }
    }
    #accordionRight {
      .vLine {
        @include lineShadow(-9px, 0px, 15px, -4px, rgba(0, 0, 0, 0.34));
      }
    }
    .accordion {
      width: 30%; /*use percentages*/
      display: flex;
      flex-direction: row;
      .lgAccCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50%;
        flex: 2;
        padding-top: 104px;
      }
      .smAccCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 45%;
        flex: 1;
      }
      .tallVLine {
        height: calc(100% + var(--navHeight));
        position: relative;
        top: calc(-1 * var(--navHeight));
        z-index: 3;
        background: linear-gradient(white 13.35%, var(--lineColour) 13.35%);
        flex-shrink: 0;
      }
    }

    #center {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .centerAccordion {
        height: 50px;
        flex-shrink: 0;
        .centAccCont {
          display: flex;
          justify-content: space-around;
          height: 100%;
        }
      }
      #shapeShift-container {
        display: flex;
        align-items: center;
        animation: adjustHeight 20s infinite;
        #shapeShift {
          @media (max-height: 600px) {
            height: 170px !important;
          }
          width: 100%;
          background-color: var(--primary_colour);
          .block {
            background-color: white;
          }
          #leftBlock {
            animation: leftBlock 20s infinite;
          }
          #topPart {
            display: flex;
            animation: topMovingGap 20s infinite;
          }
        }
      }
    }
  }
}
$i: 10;
@while $i < 200 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  $i: $i + 10;
}
@for $i from 1 through 200 {
  .mt-#{$i}per {
    margin-top: #{$i}#{"%"};
  }
  .mb-#{$i}per {
    margin-bottom: #{$i}#{"%"};
  }
}
.minw-150px {
  min-width: 150px;
}
.hLine {
  width: 100%;
  min-height: var(--hLineHeight);
  max-height: var(--hLineHeight);

  flex-shrink: 0;
}
.lineh-0p9 {
  line-height: 0.9;
}
.vLine {
  height: 100%;
  max-width: var(--vlineWidth);
  min-width: var(--vlineWidth);
  flex-shrink: 0;
}
.line {
  background-color: var(--lineColour);
  flex-shrink: 0;
}
.partHeight {
  height: 100%;
}
.pl-3 {
  padding-left: 3%;
}
.pr-3 {
  padding-right: 3%;
}
.z-index-2 {
  z-index: 2;
}
.list-style-none {
  list-style: none;
}
.vh-36 {
  height: 36vh;
}
nav {
  height: var(--navHeight);
  background-color: var(--primary_colour);
  // color: var(--primary_colour);
  top: 0;
  left: 0;
  ul {
    color: white;
    margin: 2.5vw;
    li {
      a {
        font-size: 0.8rem;
        color: white;
      }
    }
  }
}
/*main gets display flex. push center shapeshift outwards*/
.leftBanner {
  height: 100px;
}
.deskLeftBanner {
  height: 100%;
}
.grey {
  background-color: var(--grey);
}
.black {
  background-color: var(--primary_colour);
}
section {
  border-bottom: 10px solid black; //--New border change
}
#red {
  #lFiller1 {
    margin-top: 12vh;
  }
  #yellow1 {
    #cyan {
      #purple2 {
        @media (min-width: 1199px) {
          margin-left: 5vw !important;
        }
        h1 {
          font-weight: 700;
          line-height: 0.9;
          font-size: 7rem;
          @media (max-width: 1199px) {
            font-size: 13vw !important;
          }
          ::after {
            content: "";
            position: absolute;
            top: 0;
            top: 10px;
            left: -29px;
            width: 650px;
            height: 79px;
            z-index: -1;
            background-color: var(--grey);
          }
        }
        h2,
        h3 {
          font-size: 1rem;
        }
        em {
          font-weight: 800;
          font-style: normal;
        }
      }
    }
  }
  #yellow2 {
    width: 100%;
    height: var(--DIVIDER1HEIGHT);
    .thiccDivider {
      height: var(--DIVIDER1HEIGHT);
    }
    #lightGreyDown {
      width: var(--CYANMARGINWIDTH);
    }
  }
}
.cyan {
  margin-left: var(--CYANMARGINWIDTH);
  @media (max-width: 1199px) {
    margin-left: 0 !important;
  }
}
.divider {
  background-color: black;
}
.greybgFiller {
  background-color: var(--grey);
}
.analysis-Yellow /*id of topSection*/ {
  border: 12px solid yellow;
}
.analysis-Red {
  border: 12px solid red;
}
.analysis-Green {
  border: 8px solid green;
}
.analysis-Cyan {
  border: 12px solid cyan;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.flexAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reverse {
  flex-direction: row-reverse;
}
.whFiller {
  width: 100%;
  height: 100%;
}
.wFiller {
  width: 100%;
}
.w-30vw {
  width: 30vw;
}
.analysis-Purple {
  border: 12px solid purple;
}
.flex-xl-gap-0 {
  @media (min-width: 1400px) {
    gap: 0px;
  }
}
.h-30px {
  height: 30px;
}
.w-250px {
  width: 250px;
}
.h-500px {
  height: 500px;
}

.minw-xl-w-100-h-100-minw-80px {
  @media (min-width: 1200px) {
    width: 100%;
    height: 100%;
    min-width: 80px;
  }
}
.maxw-xl-h-100px-w-100 {
  @media (max-width: var(--XLSCREEN)) {
    height: 100px;
    width: 100%;
  }
}
.minw-80px {
  min-width: 80px;
}
.maxw-150px {
  max-width: 150px;
}
.h-800px {
  height: 800px;
}
