@import "base/reset.css";
@import "abstract/variables.scss";
@import "abstract/mixins.scss";
@import "abstract/customBsClasses.scss";
@import "abstract/colours.css";

//media queries
//end media queries
#rails {
  width: 100%;
  border-bottom: 15px solid var(--primary_colour);
  display: flex;
  justify-content: center;
  margin-top: var(--navHeight);
  z-index: 1;
  height: 35vw;
  max-height: 500px;
  min-height: 350px;
  .cover {
    width: 100%;
    // background-color: hsl(0 0 calc(10 + calc(calc(var(--mainRevealWidth) * 100) / 100vw))); /*hsl(0,0,10 +mainRevealWidth*100/vw*/
    background-color: var(--secondary_colour);
    height: 1250px;
    z-index: 2;
  }
  #mainReveal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 0;
    #accordionLeft {
      .vLine {
        @include lineShadow(9px, 0px, 15px, -4px, rgba(0, 0, 0, 0.34));
      }
    }
    #accordionRight {
      .vLine {
        @include lineShadow(-9px, 0px, 15px, -4px, rgba(0, 0, 0, 0.34));
      }
    }
    .accordion {
      width: 30%; /*use percentages*/
      display: flex;
      flex-direction: row;
      .lgAccCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50%;
        flex: 2;
        padding-top: 104px;
        @include maxw($BPxl) {
          display: none;
        }
      }
      .smAccCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 45%;
        flex: 1;
      }
      .tallVLine {
        height: calc(100% + var(--navHeight));
        position: relative;
        top: calc(-1 * var(--navHeight));
        z-index: 3;
        background: linear-gradient(white 8vh, var(--lineColour) 8vh);
        flex-shrink: 0;
      }
    }

    #center {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .centerAccordion {
        height: 50px;
        flex-shrink: 0;
        .centAccCont {
          display: flex;
          justify-content: space-around;
          height: 100%;
        }
      }
      #shapeShift-container {
        display: flex;
        align-items: center;
        animation: adjustHeight 20s infinite;
        #shapeShift {
          @media (max-height: 600px) {
            height: 170px !important;
          }
          width: 100%;
          background-color: var(--primary_colour);
          .block {
            background-color: white;
          }
          #leftBlock {
            animation: leftBlock 20s infinite;
          }
          #topPart {
            display: flex;
            animation: topMovingGap 20s infinite;
          }
        }
      }
    }
  }
}
.hLine {
  width: 100%;
  min-height: var(--hLineHeight);
  max-height: var(--hLineHeight);

  flex-shrink: 0;
}
.lineh-0p9 {
  line-height: 0.9;
}
.vLine {
  height: 100%;
  max-width: var(--vlineWidth);
  min-width: var(--vlineWidth);
  flex-shrink: 0;
}
.line {
  background-color: var(--lineColour);
  flex-shrink: 0;
}
.partHeight {
  height: 100%;
}
.pl-3 {
  padding-left: 3%;
}
.pr-3 {
  padding-right: 3%;
}
.z-index-2 {
  z-index: 2;
}
.list-style-none {
  list-style: none;
}
.vh-36 {
  height: 36vh;
}
.greyBdr-left {
  border-left: 2px solid var(--grey);
}

.greyBdr-right {
  border-right: 2px solid var(--grey);
}

.greyBdr-bottom {
  border-bottom: 2px solid var(--grey);
}

.greyBdr-top {
  border-top: 2px solid var(--grey);
}

.greyBdr-all {
  border: 2px solid var(--grey);
}
nav {
  height: var(--navHeight);
  background-color: var(--primary_colour);
  // color: var(--primary_colour);
  top: 0;
  left: 0;
  ul {
    color: white;
    margin: 2.5vw;
    li {
      a {
        font-size: 0.8rem;
        color: white;
      }
    }
  }
}
/*main gets display flex. push center shapeshift outwards*/
.leftBanner {
  height: 100px;
}
.deskLeftBanner {
  height: 100%;
  margin-left: -2px;
}
.grey {
  background-color: var(--grey);
}
.black {
  background-color: var(--primary_colour);
}
.italic {
  font-style: italic;
}

#red {
  width: 75%;
  @include maxw($BPmd) {
    width: 90% !important;
  }
  #lFiller1 {
    margin-top: var(--CYANMARGINWIDTH);
    height: 91%;
  }
  #yellow1 {
    #cyan {
      //- Need to apply grid to fanatical area (right here).
      #greySocials {
        padding-top: var(--CYANMARGINWIDTH);
        padding-bottom: var(--CYANMARGINWIDTH);
      }
      #purple2 {
        padding-top: var(--CYANMARGINWIDTH);
        @include maxw($BPxl) {
          margin-left: 5vw !important;
        }
        h1 {
          font-weight: 700;
          line-height: 0.9;
          font-size: 7rem;
          @include maxw($BPxl) {
            font-size: 13.5vw !important;
          }
          ::after {
            content: "";
            position: absolute;
            top: 0;
            top: 10px;
            left: -29px;
            width: 650px;
            height: 79px;
            z-index: -1;
            @include maxw($BPxl) {
              width: 72vw !important;
              height: 9vw !important;
            }
            @include maxw($BPmd) {
              display: none;
            }
            background-color: var(--grey);
          }
        }
        h2,
        h3 {
          font-size: 1rem;
        }
        em {
          font-weight: 800;
          font-style: normal;
        }
      }
    }
  }
  .HigherContForRightFiller {
    .thiccDivider {
      height: var(--DIVIDER1HEIGHT);
      z-index: -2;
    }
  }
  #yellow2 {
    width: 100%;
    height: var(--DIVIDER1HEIGHT);
    #lightGreyDown {
      width: var(--CYANMARGINWIDTH);
      height: 100%;
      z-index: -1;
    }
  }
  #yellow3 {
    .cyan2 {
      display: grid;
      @media (max-width: $BPxl) {
        grid-template-areas:
          "summary summary"
          "projectArea projectArea" "githubArea githubArea";
        width: 100%;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        #place1,
        #place3,
        #place4,
        #place5 {
          display: none;
        }
      }
      @media (min-width: $BPxl) {
        grid-template-areas:
          "blank summary blank2 blank3"
          "projectArea projectArea githubArea blank4";
        grid-template-rows: auto auto;
        grid-template-columns: var(--GREYBLOCKWIDTH) 45vw auto var(
            --GREYBLOCKWIDTH
          );
      }
      #place1 {
        grid-area: blank;
      }
      #place3 {
        grid-area: blank2;
      }
      #place4 {
        grid-area: blank3;
      }
      #place5 {
        grid-area: blank4;
      }
      .purple3 {
        grid-area: summary;
        padding: 50px;
        q {
          font-weight: 400;
        }
        @include maxw($BPxl) {
          padding: 5vw !important;
          border-right: 2px solid var(--grey);
        }
      }
      .purple4 {
        grid-area: projectArea;
        padding: 50px;
        gap: 30px;
        #scrollContainer {
          width: 100%;
        }
        h1 {
          font-weight: 800;
          line-height: 0.9;
          font-size: 6vw;
        }
        .green2 {
          max-width: 400px;
          h2:nth-child(3) {
            color: grey;
            letter-spacing: 0.2rem;
          }
          .legend {
            p:nth-child(2) {
              text-decoration: underline;
            }
          }
        }
        .green3 {
          .projectCard {
            height: 44vh;
            min-width: 32%;
            .imgFiller {
              background-color: var(--grey);
              flex-grow: 3;
            }
            summary {
              padding: 0.8rem;
              h3,
              p {
                font-size: 1.1rem;
              }
              h3 {
                font-weight: 700;
                margin-bottom: 2px;
              }
              .btn-info {
                background-color: black !important;
                color: white !important;
                max-width: 120px;
              }
            }
          }
        }
      }
      .githubWrapper {
        grid-area: githubArea;
        .shortHeightWrapper {
          background-color: var(--grey);
          height: 100%;
        }
        #purple5 {
          grid-area: githubArea;
          padding: 30px;
          i {
            color: black !important;
          }
        }
      }
    }
  }
  #yellow4 {
    #aboutMeSection {
      display: grid;
      grid-template-areas:
        "leftBlank aboutMe rightBlank"
        "leftBlank areaSkillSet rightBlank"
        "leftBlank middleBlank rightBlank";
      grid-template-rows: 30vw auto 15vw;
      grid-template-columns: var(--CYANMARGINWIDTH) auto var(--CYANMARGINWIDTH);
    }
    #bl1 {
      grid-area: leftBlank;
    }
    #bl2 {
      grid-area: middleBlank;
    }
    #bl3 {
      grid-area: rightBlank;
    }
    #titleArea {
      grid-area: aboutMe;
      padding-top: 50px;
      padding-left: 50px;
    }
    #skillSetArea {
      grid-area: areaSkillSet;
    }
  }
}
#projectArea h2,
#aboutMeSection h2 {
  font-weight: 800;
  line-height: 0.9;
  font-size: 6vw;
}
.cyan {
  margin-left: var(--CYANMARGINWIDTH);
  @media (max-width: 1199px) {
    margin-left: 0 !important;
  }
}
.goesToLeft {
  left: 0;
}
.goesToRight {
  width: calc(100% - 2 * var(--CYANMARGINWIDTH)) !important;
}
.divider,
.Divider {
  background-color: black;
}
.Divider {
  height: calc(var(--DIVIDER1HEIGHT) / 2);
}
.greybgFiller {
  background-color: var(--grey);
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.flexAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reverse {
  flex-direction: row-reverse;
}
.whFiller {
  width: 100%;
  height: 100%;
}
.wFiller {
  width: 100%;
}
.w-var-greyblw {
  width: var(--GREYBLOCKWIDTH);
}
.analysis-Purple {
  border: 12px solid purple;
}
.flex-xl-gap-0 {
  @media (min-width: 1400px) {
    gap: 0px;
  }
}
.h-30px {
  height: 30px;
}
.w-250px {
  width: 250px;
}
.h-500px {
  height: 500px;
}

.minw-xl-w-100-h-100-minw-80px {
  @media (min-width: $BPxl) {
    width: 100%;
    height: 100%;
    min-width: 80px;
  }
}
.maxw-xl-h-100px-w-100 {
  @media (max-width: $BPxl) {
    height: 100px;
    width: 100%;
  }
}
.minw-80px {
  min-width: 80px;
}
.maxw-150px {
  max-width: 150px;
}
.h-800px {
  height: 800px;
}
