:root {
  --mainRevealWidth: 100%;
  --navHeight: 50px;
  --vlineWidth: 0.2vh;
  --hLineHeight: 0.2vh;
  --lineColour: #191919;
  --primary_colour: #191919;
  --secondary_colour: #2f2f2f;
  --grey: #c8c8c8;
  --desk1Container1Width: 630px; /*at a window width 1000*/
  --desk2Container1Width: 1031px; /*at a window width 1600*/
  --s1TopMargin: 80px;
  --vBlockWidth: 55px;
  --XLSCREEN: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.noAnalysis {
  border: none !important;
}

@media (min-width: 1199px) {
  .w-12vw-xl {
    width: 12.5vw !important;
  }
}

@media (max-width: 1199px) {
  .w-7vw {
    width: 7vw !important;
  }
}

.pt-12vh {
  padding-top: 12vh;
}

.mt-100 {
  margin-top: 100px;
}

.left-0 {
  left: 0;
}

.bg-black {
  background-color: black;
}

.absolute {
  position: absolute;
}

.greyBdr-left {
  border-left: 2px solid var(--grey);
}

.greyBdr-right {
  border-right: 2px solid var(--grey);
}

.greyBdr-bottom {
  border-bottom: 2px solid var(--grey);
}

.greyBdr-top {
  border-top: 2px solid var(--grey);
}

.greyBdr-all {
  border: 2px solid var(--grey);
}

.flexItemsCenter {
  display: flex;
  justify-items: center;
}

.flexAlignItemsCenter {
  display: flex;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexLeftRight {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1340px) {
  .accordion #lgAccCont {
    display: none;
  }
}

#rails {
  width: 100%;
  border-bottom: 15px solid var(--primary_colour);
  display: flex;
  justify-content: center;
  margin-top: var(--navHeight);
  z-index: 1;
  height: 60vh;
}
#rails .cover {
  width: 100%;
  background-color: var(--secondary_colour);
  height: 1250px;
  z-index: 2;
}
#rails #mainReveal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  gap: 0;
}
#rails #mainReveal #accordionLeft .vLine {
  box-shadow: 9px 0px 15px -4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 9px 0px 15px -4px rgba(0, 0, 0, 0.34);
}
#rails #mainReveal #accordionRight .vLine {
  box-shadow: -9px 0px 15px -4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: -9px 0px 15px -4px rgba(0, 0, 0, 0.34);
}
#rails #mainReveal .accordion {
  width: 30%; /*use percentages*/
  display: flex;
  flex-direction: row;
}
#rails #mainReveal .accordion .lgAccCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50%;
  flex: 2;
  padding-top: 104px;
}
#rails #mainReveal .accordion .smAccCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45%;
  flex: 1;
}
#rails #mainReveal .accordion .tallVLine {
  height: calc(100% + var(--navHeight));
  position: relative;
  top: calc(-1 * var(--navHeight));
  z-index: 3;
  background: linear-gradient(white 13.35%, var(--lineColour) 13.35%);
  flex-shrink: 0;
}
#rails #mainReveal #center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#rails #mainReveal #center .centerAccordion {
  height: 50px;
  flex-shrink: 0;
}
#rails #mainReveal #center .centerAccordion .centAccCont {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
#rails #mainReveal #center #shapeShift-container {
  display: flex;
  align-items: center;
  animation: adjustHeight 20s infinite;
}
#rails #mainReveal #center #shapeShift-container #shapeShift {
  width: 100%;
  background-color: var(--primary_colour);
}
@media (max-height: 600px) {
  #rails #mainReveal #center #shapeShift-container #shapeShift {
    height: 170px !important;
  }
}
#rails #mainReveal #center #shapeShift-container #shapeShift .block {
  background-color: white;
}
#rails #mainReveal #center #shapeShift-container #shapeShift #leftBlock {
  animation: leftBlock 20s infinite;
}
#rails #mainReveal #center #shapeShift-container #shapeShift #topPart {
  display: flex;
  animation: topMovingGap 20s infinite;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.ml-110 {
  margin-left: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.ml-120 {
  margin-left: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mb-130 {
  margin-bottom: 130px;
}

.ml-130 {
  margin-left: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mb-140 {
  margin-bottom: 140px;
}

.ml-140 {
  margin-left: 140px;
}

.mt-150 {
  margin-top: 150px;
}

.mb-150 {
  margin-bottom: 150px;
}

.ml-150 {
  margin-left: 150px;
}

.mt-160 {
  margin-top: 160px;
}

.mb-160 {
  margin-bottom: 160px;
}

.ml-160 {
  margin-left: 160px;
}

.mt-170 {
  margin-top: 170px;
}

.mb-170 {
  margin-bottom: 170px;
}

.ml-170 {
  margin-left: 170px;
}

.mt-180 {
  margin-top: 180px;
}

.mb-180 {
  margin-bottom: 180px;
}

.ml-180 {
  margin-left: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mb-190 {
  margin-bottom: 190px;
}

.ml-190 {
  margin-left: 190px;
}

.mt-1per {
  margin-top: 1%;
}

.mb-1per {
  margin-bottom: 1%;
}

.mt-2per {
  margin-top: 2%;
}

.mb-2per {
  margin-bottom: 2%;
}

.mt-3per {
  margin-top: 3%;
}

.mb-3per {
  margin-bottom: 3%;
}

.mt-4per {
  margin-top: 4%;
}

.mb-4per {
  margin-bottom: 4%;
}

.mt-5per {
  margin-top: 5%;
}

.mb-5per {
  margin-bottom: 5%;
}

.mt-6per {
  margin-top: 6%;
}

.mb-6per {
  margin-bottom: 6%;
}

.mt-7per {
  margin-top: 7%;
}

.mb-7per {
  margin-bottom: 7%;
}

.mt-8per {
  margin-top: 8%;
}

.mb-8per {
  margin-bottom: 8%;
}

.mt-9per {
  margin-top: 9%;
}

.mb-9per {
  margin-bottom: 9%;
}

.mt-10per {
  margin-top: 10%;
}

.mb-10per {
  margin-bottom: 10%;
}

.mt-11per {
  margin-top: 11%;
}

.mb-11per {
  margin-bottom: 11%;
}

.mt-12per {
  margin-top: 12%;
}

.mb-12per {
  margin-bottom: 12%;
}

.mt-13per {
  margin-top: 13%;
}

.mb-13per {
  margin-bottom: 13%;
}

.mt-14per {
  margin-top: 14%;
}

.mb-14per {
  margin-bottom: 14%;
}

.mt-15per {
  margin-top: 15%;
}

.mb-15per {
  margin-bottom: 15%;
}

.mt-16per {
  margin-top: 16%;
}

.mb-16per {
  margin-bottom: 16%;
}

.mt-17per {
  margin-top: 17%;
}

.mb-17per {
  margin-bottom: 17%;
}

.mt-18per {
  margin-top: 18%;
}

.mb-18per {
  margin-bottom: 18%;
}

.mt-19per {
  margin-top: 19%;
}

.mb-19per {
  margin-bottom: 19%;
}

.mt-20per {
  margin-top: 20%;
}

.mb-20per {
  margin-bottom: 20%;
}

.mt-21per {
  margin-top: 21%;
}

.mb-21per {
  margin-bottom: 21%;
}

.mt-22per {
  margin-top: 22%;
}

.mb-22per {
  margin-bottom: 22%;
}

.mt-23per {
  margin-top: 23%;
}

.mb-23per {
  margin-bottom: 23%;
}

.mt-24per {
  margin-top: 24%;
}

.mb-24per {
  margin-bottom: 24%;
}

.mt-25per {
  margin-top: 25%;
}

.mb-25per {
  margin-bottom: 25%;
}

.mt-26per {
  margin-top: 26%;
}

.mb-26per {
  margin-bottom: 26%;
}

.mt-27per {
  margin-top: 27%;
}

.mb-27per {
  margin-bottom: 27%;
}

.mt-28per {
  margin-top: 28%;
}

.mb-28per {
  margin-bottom: 28%;
}

.mt-29per {
  margin-top: 29%;
}

.mb-29per {
  margin-bottom: 29%;
}

.mt-30per {
  margin-top: 30%;
}

.mb-30per {
  margin-bottom: 30%;
}

.mt-31per {
  margin-top: 31%;
}

.mb-31per {
  margin-bottom: 31%;
}

.mt-32per {
  margin-top: 32%;
}

.mb-32per {
  margin-bottom: 32%;
}

.mt-33per {
  margin-top: 33%;
}

.mb-33per {
  margin-bottom: 33%;
}

.mt-34per {
  margin-top: 34%;
}

.mb-34per {
  margin-bottom: 34%;
}

.mt-35per {
  margin-top: 35%;
}

.mb-35per {
  margin-bottom: 35%;
}

.mt-36per {
  margin-top: 36%;
}

.mb-36per {
  margin-bottom: 36%;
}

.mt-37per {
  margin-top: 37%;
}

.mb-37per {
  margin-bottom: 37%;
}

.mt-38per {
  margin-top: 38%;
}

.mb-38per {
  margin-bottom: 38%;
}

.mt-39per {
  margin-top: 39%;
}

.mb-39per {
  margin-bottom: 39%;
}

.mt-40per {
  margin-top: 40%;
}

.mb-40per {
  margin-bottom: 40%;
}

.mt-41per {
  margin-top: 41%;
}

.mb-41per {
  margin-bottom: 41%;
}

.mt-42per {
  margin-top: 42%;
}

.mb-42per {
  margin-bottom: 42%;
}

.mt-43per {
  margin-top: 43%;
}

.mb-43per {
  margin-bottom: 43%;
}

.mt-44per {
  margin-top: 44%;
}

.mb-44per {
  margin-bottom: 44%;
}

.mt-45per {
  margin-top: 45%;
}

.mb-45per {
  margin-bottom: 45%;
}

.mt-46per {
  margin-top: 46%;
}

.mb-46per {
  margin-bottom: 46%;
}

.mt-47per {
  margin-top: 47%;
}

.mb-47per {
  margin-bottom: 47%;
}

.mt-48per {
  margin-top: 48%;
}

.mb-48per {
  margin-bottom: 48%;
}

.mt-49per {
  margin-top: 49%;
}

.mb-49per {
  margin-bottom: 49%;
}

.mt-50per {
  margin-top: 50%;
}

.mb-50per {
  margin-bottom: 50%;
}

.mt-51per {
  margin-top: 51%;
}

.mb-51per {
  margin-bottom: 51%;
}

.mt-52per {
  margin-top: 52%;
}

.mb-52per {
  margin-bottom: 52%;
}

.mt-53per {
  margin-top: 53%;
}

.mb-53per {
  margin-bottom: 53%;
}

.mt-54per {
  margin-top: 54%;
}

.mb-54per {
  margin-bottom: 54%;
}

.mt-55per {
  margin-top: 55%;
}

.mb-55per {
  margin-bottom: 55%;
}

.mt-56per {
  margin-top: 56%;
}

.mb-56per {
  margin-bottom: 56%;
}

.mt-57per {
  margin-top: 57%;
}

.mb-57per {
  margin-bottom: 57%;
}

.mt-58per {
  margin-top: 58%;
}

.mb-58per {
  margin-bottom: 58%;
}

.mt-59per {
  margin-top: 59%;
}

.mb-59per {
  margin-bottom: 59%;
}

.mt-60per {
  margin-top: 60%;
}

.mb-60per {
  margin-bottom: 60%;
}

.mt-61per {
  margin-top: 61%;
}

.mb-61per {
  margin-bottom: 61%;
}

.mt-62per {
  margin-top: 62%;
}

.mb-62per {
  margin-bottom: 62%;
}

.mt-63per {
  margin-top: 63%;
}

.mb-63per {
  margin-bottom: 63%;
}

.mt-64per {
  margin-top: 64%;
}

.mb-64per {
  margin-bottom: 64%;
}

.mt-65per {
  margin-top: 65%;
}

.mb-65per {
  margin-bottom: 65%;
}

.mt-66per {
  margin-top: 66%;
}

.mb-66per {
  margin-bottom: 66%;
}

.mt-67per {
  margin-top: 67%;
}

.mb-67per {
  margin-bottom: 67%;
}

.mt-68per {
  margin-top: 68%;
}

.mb-68per {
  margin-bottom: 68%;
}

.mt-69per {
  margin-top: 69%;
}

.mb-69per {
  margin-bottom: 69%;
}

.mt-70per {
  margin-top: 70%;
}

.mb-70per {
  margin-bottom: 70%;
}

.mt-71per {
  margin-top: 71%;
}

.mb-71per {
  margin-bottom: 71%;
}

.mt-72per {
  margin-top: 72%;
}

.mb-72per {
  margin-bottom: 72%;
}

.mt-73per {
  margin-top: 73%;
}

.mb-73per {
  margin-bottom: 73%;
}

.mt-74per {
  margin-top: 74%;
}

.mb-74per {
  margin-bottom: 74%;
}

.mt-75per {
  margin-top: 75%;
}

.mb-75per {
  margin-bottom: 75%;
}

.mt-76per {
  margin-top: 76%;
}

.mb-76per {
  margin-bottom: 76%;
}

.mt-77per {
  margin-top: 77%;
}

.mb-77per {
  margin-bottom: 77%;
}

.mt-78per {
  margin-top: 78%;
}

.mb-78per {
  margin-bottom: 78%;
}

.mt-79per {
  margin-top: 79%;
}

.mb-79per {
  margin-bottom: 79%;
}

.mt-80per {
  margin-top: 80%;
}

.mb-80per {
  margin-bottom: 80%;
}

.mt-81per {
  margin-top: 81%;
}

.mb-81per {
  margin-bottom: 81%;
}

.mt-82per {
  margin-top: 82%;
}

.mb-82per {
  margin-bottom: 82%;
}

.mt-83per {
  margin-top: 83%;
}

.mb-83per {
  margin-bottom: 83%;
}

.mt-84per {
  margin-top: 84%;
}

.mb-84per {
  margin-bottom: 84%;
}

.mt-85per {
  margin-top: 85%;
}

.mb-85per {
  margin-bottom: 85%;
}

.mt-86per {
  margin-top: 86%;
}

.mb-86per {
  margin-bottom: 86%;
}

.mt-87per {
  margin-top: 87%;
}

.mb-87per {
  margin-bottom: 87%;
}

.mt-88per {
  margin-top: 88%;
}

.mb-88per {
  margin-bottom: 88%;
}

.mt-89per {
  margin-top: 89%;
}

.mb-89per {
  margin-bottom: 89%;
}

.mt-90per {
  margin-top: 90%;
}

.mb-90per {
  margin-bottom: 90%;
}

.mt-91per {
  margin-top: 91%;
}

.mb-91per {
  margin-bottom: 91%;
}

.mt-92per {
  margin-top: 92%;
}

.mb-92per {
  margin-bottom: 92%;
}

.mt-93per {
  margin-top: 93%;
}

.mb-93per {
  margin-bottom: 93%;
}

.mt-94per {
  margin-top: 94%;
}

.mb-94per {
  margin-bottom: 94%;
}

.mt-95per {
  margin-top: 95%;
}

.mb-95per {
  margin-bottom: 95%;
}

.mt-96per {
  margin-top: 96%;
}

.mb-96per {
  margin-bottom: 96%;
}

.mt-97per {
  margin-top: 97%;
}

.mb-97per {
  margin-bottom: 97%;
}

.mt-98per {
  margin-top: 98%;
}

.mb-98per {
  margin-bottom: 98%;
}

.mt-99per {
  margin-top: 99%;
}

.mb-99per {
  margin-bottom: 99%;
}

.mt-100per {
  margin-top: 100%;
}

.mb-100per {
  margin-bottom: 100%;
}

.mt-101per {
  margin-top: 101%;
}

.mb-101per {
  margin-bottom: 101%;
}

.mt-102per {
  margin-top: 102%;
}

.mb-102per {
  margin-bottom: 102%;
}

.mt-103per {
  margin-top: 103%;
}

.mb-103per {
  margin-bottom: 103%;
}

.mt-104per {
  margin-top: 104%;
}

.mb-104per {
  margin-bottom: 104%;
}

.mt-105per {
  margin-top: 105%;
}

.mb-105per {
  margin-bottom: 105%;
}

.mt-106per {
  margin-top: 106%;
}

.mb-106per {
  margin-bottom: 106%;
}

.mt-107per {
  margin-top: 107%;
}

.mb-107per {
  margin-bottom: 107%;
}

.mt-108per {
  margin-top: 108%;
}

.mb-108per {
  margin-bottom: 108%;
}

.mt-109per {
  margin-top: 109%;
}

.mb-109per {
  margin-bottom: 109%;
}

.mt-110per {
  margin-top: 110%;
}

.mb-110per {
  margin-bottom: 110%;
}

.mt-111per {
  margin-top: 111%;
}

.mb-111per {
  margin-bottom: 111%;
}

.mt-112per {
  margin-top: 112%;
}

.mb-112per {
  margin-bottom: 112%;
}

.mt-113per {
  margin-top: 113%;
}

.mb-113per {
  margin-bottom: 113%;
}

.mt-114per {
  margin-top: 114%;
}

.mb-114per {
  margin-bottom: 114%;
}

.mt-115per {
  margin-top: 115%;
}

.mb-115per {
  margin-bottom: 115%;
}

.mt-116per {
  margin-top: 116%;
}

.mb-116per {
  margin-bottom: 116%;
}

.mt-117per {
  margin-top: 117%;
}

.mb-117per {
  margin-bottom: 117%;
}

.mt-118per {
  margin-top: 118%;
}

.mb-118per {
  margin-bottom: 118%;
}

.mt-119per {
  margin-top: 119%;
}

.mb-119per {
  margin-bottom: 119%;
}

.mt-120per {
  margin-top: 120%;
}

.mb-120per {
  margin-bottom: 120%;
}

.mt-121per {
  margin-top: 121%;
}

.mb-121per {
  margin-bottom: 121%;
}

.mt-122per {
  margin-top: 122%;
}

.mb-122per {
  margin-bottom: 122%;
}

.mt-123per {
  margin-top: 123%;
}

.mb-123per {
  margin-bottom: 123%;
}

.mt-124per {
  margin-top: 124%;
}

.mb-124per {
  margin-bottom: 124%;
}

.mt-125per {
  margin-top: 125%;
}

.mb-125per {
  margin-bottom: 125%;
}

.mt-126per {
  margin-top: 126%;
}

.mb-126per {
  margin-bottom: 126%;
}

.mt-127per {
  margin-top: 127%;
}

.mb-127per {
  margin-bottom: 127%;
}

.mt-128per {
  margin-top: 128%;
}

.mb-128per {
  margin-bottom: 128%;
}

.mt-129per {
  margin-top: 129%;
}

.mb-129per {
  margin-bottom: 129%;
}

.mt-130per {
  margin-top: 130%;
}

.mb-130per {
  margin-bottom: 130%;
}

.mt-131per {
  margin-top: 131%;
}

.mb-131per {
  margin-bottom: 131%;
}

.mt-132per {
  margin-top: 132%;
}

.mb-132per {
  margin-bottom: 132%;
}

.mt-133per {
  margin-top: 133%;
}

.mb-133per {
  margin-bottom: 133%;
}

.mt-134per {
  margin-top: 134%;
}

.mb-134per {
  margin-bottom: 134%;
}

.mt-135per {
  margin-top: 135%;
}

.mb-135per {
  margin-bottom: 135%;
}

.mt-136per {
  margin-top: 136%;
}

.mb-136per {
  margin-bottom: 136%;
}

.mt-137per {
  margin-top: 137%;
}

.mb-137per {
  margin-bottom: 137%;
}

.mt-138per {
  margin-top: 138%;
}

.mb-138per {
  margin-bottom: 138%;
}

.mt-139per {
  margin-top: 139%;
}

.mb-139per {
  margin-bottom: 139%;
}

.mt-140per {
  margin-top: 140%;
}

.mb-140per {
  margin-bottom: 140%;
}

.mt-141per {
  margin-top: 141%;
}

.mb-141per {
  margin-bottom: 141%;
}

.mt-142per {
  margin-top: 142%;
}

.mb-142per {
  margin-bottom: 142%;
}

.mt-143per {
  margin-top: 143%;
}

.mb-143per {
  margin-bottom: 143%;
}

.mt-144per {
  margin-top: 144%;
}

.mb-144per {
  margin-bottom: 144%;
}

.mt-145per {
  margin-top: 145%;
}

.mb-145per {
  margin-bottom: 145%;
}

.mt-146per {
  margin-top: 146%;
}

.mb-146per {
  margin-bottom: 146%;
}

.mt-147per {
  margin-top: 147%;
}

.mb-147per {
  margin-bottom: 147%;
}

.mt-148per {
  margin-top: 148%;
}

.mb-148per {
  margin-bottom: 148%;
}

.mt-149per {
  margin-top: 149%;
}

.mb-149per {
  margin-bottom: 149%;
}

.mt-150per {
  margin-top: 150%;
}

.mb-150per {
  margin-bottom: 150%;
}

.mt-151per {
  margin-top: 151%;
}

.mb-151per {
  margin-bottom: 151%;
}

.mt-152per {
  margin-top: 152%;
}

.mb-152per {
  margin-bottom: 152%;
}

.mt-153per {
  margin-top: 153%;
}

.mb-153per {
  margin-bottom: 153%;
}

.mt-154per {
  margin-top: 154%;
}

.mb-154per {
  margin-bottom: 154%;
}

.mt-155per {
  margin-top: 155%;
}

.mb-155per {
  margin-bottom: 155%;
}

.mt-156per {
  margin-top: 156%;
}

.mb-156per {
  margin-bottom: 156%;
}

.mt-157per {
  margin-top: 157%;
}

.mb-157per {
  margin-bottom: 157%;
}

.mt-158per {
  margin-top: 158%;
}

.mb-158per {
  margin-bottom: 158%;
}

.mt-159per {
  margin-top: 159%;
}

.mb-159per {
  margin-bottom: 159%;
}

.mt-160per {
  margin-top: 160%;
}

.mb-160per {
  margin-bottom: 160%;
}

.mt-161per {
  margin-top: 161%;
}

.mb-161per {
  margin-bottom: 161%;
}

.mt-162per {
  margin-top: 162%;
}

.mb-162per {
  margin-bottom: 162%;
}

.mt-163per {
  margin-top: 163%;
}

.mb-163per {
  margin-bottom: 163%;
}

.mt-164per {
  margin-top: 164%;
}

.mb-164per {
  margin-bottom: 164%;
}

.mt-165per {
  margin-top: 165%;
}

.mb-165per {
  margin-bottom: 165%;
}

.mt-166per {
  margin-top: 166%;
}

.mb-166per {
  margin-bottom: 166%;
}

.mt-167per {
  margin-top: 167%;
}

.mb-167per {
  margin-bottom: 167%;
}

.mt-168per {
  margin-top: 168%;
}

.mb-168per {
  margin-bottom: 168%;
}

.mt-169per {
  margin-top: 169%;
}

.mb-169per {
  margin-bottom: 169%;
}

.mt-170per {
  margin-top: 170%;
}

.mb-170per {
  margin-bottom: 170%;
}

.mt-171per {
  margin-top: 171%;
}

.mb-171per {
  margin-bottom: 171%;
}

.mt-172per {
  margin-top: 172%;
}

.mb-172per {
  margin-bottom: 172%;
}

.mt-173per {
  margin-top: 173%;
}

.mb-173per {
  margin-bottom: 173%;
}

.mt-174per {
  margin-top: 174%;
}

.mb-174per {
  margin-bottom: 174%;
}

.mt-175per {
  margin-top: 175%;
}

.mb-175per {
  margin-bottom: 175%;
}

.mt-176per {
  margin-top: 176%;
}

.mb-176per {
  margin-bottom: 176%;
}

.mt-177per {
  margin-top: 177%;
}

.mb-177per {
  margin-bottom: 177%;
}

.mt-178per {
  margin-top: 178%;
}

.mb-178per {
  margin-bottom: 178%;
}

.mt-179per {
  margin-top: 179%;
}

.mb-179per {
  margin-bottom: 179%;
}

.mt-180per {
  margin-top: 180%;
}

.mb-180per {
  margin-bottom: 180%;
}

.mt-181per {
  margin-top: 181%;
}

.mb-181per {
  margin-bottom: 181%;
}

.mt-182per {
  margin-top: 182%;
}

.mb-182per {
  margin-bottom: 182%;
}

.mt-183per {
  margin-top: 183%;
}

.mb-183per {
  margin-bottom: 183%;
}

.mt-184per {
  margin-top: 184%;
}

.mb-184per {
  margin-bottom: 184%;
}

.mt-185per {
  margin-top: 185%;
}

.mb-185per {
  margin-bottom: 185%;
}

.mt-186per {
  margin-top: 186%;
}

.mb-186per {
  margin-bottom: 186%;
}

.mt-187per {
  margin-top: 187%;
}

.mb-187per {
  margin-bottom: 187%;
}

.mt-188per {
  margin-top: 188%;
}

.mb-188per {
  margin-bottom: 188%;
}

.mt-189per {
  margin-top: 189%;
}

.mb-189per {
  margin-bottom: 189%;
}

.mt-190per {
  margin-top: 190%;
}

.mb-190per {
  margin-bottom: 190%;
}

.mt-191per {
  margin-top: 191%;
}

.mb-191per {
  margin-bottom: 191%;
}

.mt-192per {
  margin-top: 192%;
}

.mb-192per {
  margin-bottom: 192%;
}

.mt-193per {
  margin-top: 193%;
}

.mb-193per {
  margin-bottom: 193%;
}

.mt-194per {
  margin-top: 194%;
}

.mb-194per {
  margin-bottom: 194%;
}

.mt-195per {
  margin-top: 195%;
}

.mb-195per {
  margin-bottom: 195%;
}

.mt-196per {
  margin-top: 196%;
}

.mb-196per {
  margin-bottom: 196%;
}

.mt-197per {
  margin-top: 197%;
}

.mb-197per {
  margin-bottom: 197%;
}

.mt-198per {
  margin-top: 198%;
}

.mb-198per {
  margin-bottom: 198%;
}

.mt-199per {
  margin-top: 199%;
}

.mb-199per {
  margin-bottom: 199%;
}

.mt-200per {
  margin-top: 200%;
}

.mb-200per {
  margin-bottom: 200%;
}

.minw-150px {
  min-width: 150px;
}

.hLine {
  width: 100%;
  min-height: var(--hLineHeight);
  max-height: var(--hLineHeight);
  flex-shrink: 0;
}

.lineh-0p9 {
  line-height: 0.9;
}

.vLine {
  height: 100%;
  max-width: var(--vlineWidth);
  min-width: var(--vlineWidth);
  flex-shrink: 0;
}

.line {
  background-color: var(--lineColour);
  flex-shrink: 0;
}

.partHeight {
  height: 100%;
}

.pl-3 {
  padding-left: 3%;
}

.pr-3 {
  padding-right: 3%;
}

.z-index-2 {
  z-index: 2;
}

.list-style-none {
  list-style: none;
}

.vh-36 {
  height: 36vh;
}

nav {
  height: var(--navHeight);
  background-color: var(--primary_colour);
  top: 0;
  left: 0;
}
nav ul {
  color: white;
  margin: 2.5vw;
}
nav ul li a {
  font-size: 0.8rem;
  color: white;
}

/*main gets display flex. push center shapeshift outwards*/
.leftBanner {
  height: 100px;
}

.deskLeftBanner {
  height: 100%;
}

.grey {
  background-color: var(--grey);
}

.black {
  background-color: var(--primary_colour);
}

section {
  border-bottom: 10px solid black;
}

#red #lFiller1 {
  margin-top: 12vh;
}
@media (max-width: 1199px) {
  #red #yellow1 #cyan {
    margin-left: 0 !important;
  }
}
@media (min-width: 1199px) {
  #red #yellow1 #cyan #purple2 {
    margin-left: 6vw !important;
  }
}
#red #yellow1 #cyan #purple2 h1 {
  font-weight: 700;
  line-height: 0.9;
  font-size: 7rem;
}
@media (max-width: 1199px) {
  #red #yellow1 #cyan #purple2 h1 {
    font-size: 13vw !important;
  }
}
#red #yellow1 #cyan #purple2 h2,
#red #yellow1 #cyan #purple2 h3 {
  font-size: 1rem;
}
#red #yellow1 #cyan #purple2 em {
  font-weight: 800;
  font-style: normal;
}
#red #yellow2 {
  width: 100%;
  height: 30px;
}
#red #yellow2 .thiccDivider {
  height: 20px;
}

.divider {
  background-color: black;
}

.analysis-Yellow {
  border: 12px solid yellow;
}

.analysis-Red {
  border: 12px solid red;
}

.analysis-Green {
  border: 8px solid green;
}

.analysis-Cyan {
  border: 12px solid cyan;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.whFiller {
  width: 100%;
  height: 100%;
}

.wFiller {
  width: 100%;
}

.w-30vw {
  width: 30vw;
}

.analysis-Purple {
  border: 12px solid purple;
}

@media (min-width: 1400px) {
  .flex-xl-gap-0 {
    gap: 0px;
  }
}

.h-30px {
  height: 30px;
}

.w-250px {
  width: 250px;
}

.h-500px {
  height: 500px;
}

@media (min-width: 1200px) {
  .minw-xl-w-100-h-100-minw-80px {
    width: 100%;
    height: 100%;
    min-width: 80px;
  }
}

@media (max-width: var(--XLSCREEN)) {
  .maxw-xl-h-100px-w-100 {
    height: 100px;
    width: 100%;
  }
}

.minw-80px {
  min-width: 80px;
}

.maxw-150px {
  max-width: 150px;
}

.h-800px {
  height: 800px;
}/*# sourceMappingURL=styles.css.map */