.carousel-container {
  display: flex;
  overflow: hidden;
  width: 300px;
  height: 200px;
}

.carousel-slides {
  display: flex;
  transition: transform 1s;
}

.carousel-slide {
  min-width: 300px;
  height: 200px;
  transition: transform 1s;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ .carousel-container .carousel-slides {
  transform: translateX(0%);
}

#slide2:checked ~ .carousel-container .carousel-slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .carousel-container .carousel-slides {
  transform: translateX(-200%);
}
