@import "../abstract/mixins.scss";
@import "../abstract/variables.scss";
#contentS2 {
  #projectArea {
    #projectCards {
      row-gap: $projectCardSeparation;
      column-gap: $projectCardSeparation;
      .secondAndThirdProjectContainer {
        width: 100%;
        column-gap: $projectCardSeparation;
        @include minw($BPmd) {
          column-gap: 0;
        }
      }
    }
  }
}
