@import "../dist/reset.css";
@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";
@import "../abstract/customBsClasses.scss";
@import "../dist/colours.css";
@import "../dist/header.css";
@import "fanaticalSection.scss";
@import "projectSection.scss";
//media queries
//end media queries
////////////////////////////////////////
///
#shapeshift {
  //try that or #shapeshift
  position: relative;
  width: 300px;
  height: 310px;
  margin: 0 auto;
}
#topPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 300px;
  animation: ssTopBlocksMoveDown cubic-bezier(0.075, 0.82, 0.165, 1) 10s
    infinite;
}
@keyframes ssGap {
  0% {
  }
  20% {
    width: 109px;
  }
  40% {
  }
  60% {
  }
  80% {
  }
  81% {
    width: calc(50% - 1px);
  }
}
@keyframes ssTopBlocksMoveDown {
  0% {
    top: 0px;
  }
  20% {
    /*State 1*/
  }
  40% {
    /*State 2*/
    top: 50%;
  }
  60% {
    /*State 3*/
    top: 50%;
  }
  80% {
    /*State 4*/
  }
  81% {
    /*Reset back to original*/
    top: 0px;
  }
}
@keyframes middleBlockShortens {
  0% {
  }
  20% {
    /*State 1*/
    top: 50%;
    height: 55px;
  }
  40% {
    /*State 2*/
    height: 252px;
    top: 70px;
    left: calc(50% - 27.5px);
  }
  60% {
    /*State 3*/
    left: calc(100% - 55px);
    height: 55px;
    top: 50%;
  }
  80% {
    /*State 4*/
    left: calc(100% - 55px);
    top: 50%;
    height: 55px;
  }
  81% {
    /*Reset back to original*/
    top: 70px;
    height: 252px;
  }
}

.block {
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
}

#leftBlock,
#rightBlock {
  width: calc(50% - 1px);
  height: 55px;
  animation: ssGap cubic-bezier(0.075, 0.82, 0.165, 1) 10s infinite;
  /*animation: ssTop cubic-bezier(0.075, 0.82, 0.165, 1) 10s infinite;*/
}

#leftBlock {
  left: 0;
}
#rightBlock {
  right: 0;
}
#bottomBlock {
  top: 70px;
  left: calc(48% - 22.25px);
  width: 55px;
  height: 252px;
  animation: middleBlockShortens cubic-bezier(0.075, 0.82, 0.165, 1) 10s
    infinite;
}
////////////////////////////////////////
@keyframes introduceWidth {
  from {
    width: 0vw;
  }
  to {
    width: 100vw;
  }
}
@keyframes introduceOpacity {
  from {
    background-color: #171717;
  }
  to {
    background-color: white;
  }
}
.greyBdr-left {
  border-left: 2px solid var(--grey);
}

.greyBdr-right {
  border-right: 2px solid var(--grey);
}

.greyBdr-bottom {
  border-bottom: 2px solid var(--grey);
}

.greyBdr-top {
  border-top: 2px solid var(--grey);
}

.greyBdr-all {
  border: 2px solid var(--grey);
}
nav {
  height: var(--navHeight);
  background-color: var(--primary_colour);
  // color: var(--primary_colour);
  top: 0;
  left: 0;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 2;
  ul {
    color: white;
    margin: 2.5vw;
    list-style: none;
    li {
      a {
        font-size: 0.8rem;
        color: white;
      }
    }
  }
}
/*main gets display flex. push center shapeshift outwards*/
.leftBanner {
  height: 100px;
}
.deskLeftBanner {
  height: 100%;
  margin-left: -2px;
}
.grey {
  background-color: var(--grey);
}
.black {
  background-color: var(--primary_colour);
}
.italic {
  font-style: italic;
}

#red {
  width: 75%;
  @include maxw($BPmd) {
    width: 90% !important;
  }
  #lFiller1 {
    margin-top: var(--CYANMARGINWIDTH);
    height: 155vh;
    @include maxw($BPmd) {
      height: 163vh;
      max-height: 1510px;
    }
  }
  #yellow1 {
    #cyan {
      //- Need to apply grid to fanatical area (right here).
      #greySocials {
        padding-top: var(--CYANMARGINWIDTH);
        padding-bottom: var(--CYANMARGINWIDTH);
      }
      #purple2 {
        padding-top: var(--CYANMARGINWIDTH);
        @include maxw($BPxl) {
          margin-left: 5vw !important;
        }
        h1 {
          font-weight: 700;
          line-height: 0.9;
          font-size: 7rem;
          width: 10%;
          @include maxw($BPxl) {
            font-size: 12vw !important;
          }
          @include maxw($BPmd) {
            font-size: 15vw !important;
          }
          ::after {
            content: "";
            position: absolute;
            top: 10px;
            left: -18px;
            width: 626px;
            height: 79px;
            z-index: -1;

            @include maxw($BPxl) {
              width: 72vw !important;
              height: 9vw !important;
            }
            @include maxw($BPmd) {
              display: none;
            }
            background-color: var(--grey);
          }
        }
        h2,
        h3 {
          font-size: 1rem;
        }
        em {
          font-weight: 800;
          font-style: normal;
        }
      }
    }
  }
  #firstDivider {
    width: 100% !important;
  }
  .HigherContForRightFiller {
    .thiccDivider {
      height: var(--DIVIDER1HEIGHT);
      z-index: -2;
    }
  }
  #yellow2 {
    width: 100%;
    height: var(--DIVIDER1HEIGHT);
    #lightGreyDown {
      width: var(--CYANMARGINWIDTH);
      height: 100%;
      z-index: -1;
    }
  }
  #yellow3 {
    .cyan2 {
      display: grid;
      @media (max-width: $BPxl) {
        grid-template-areas:
          "summary summary"
          "projectArea projectArea" "githubArea githubArea";
        width: 100%;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        #place1,
        #place3,
        #place4,
        #place5 {
          display: none;
        }
      }
      @media (min-width: $BPxl) {
        grid-template-areas:
          "blank summary blank2 blank3"
          "projectArea projectArea githubArea blank4";
        grid-template-rows: auto auto;
        grid-template-columns: var(--GREYBLOCKWIDTH) auto var(--GREYBLOCKWIDTH) auto;
      }
      #place1 {
        grid-area: blank;
      }
      #place3 {
        grid-area: blank2;
      }
      #place4 {
        grid-area: blank3;
      }
      #place5 {
        grid-area: blank4;
      }
      .purple3,
      #quoteArea {
        grid-area: summary;
        padding: 50px;
        q {
          font-weight: 400;
        }
        @include maxw($BPxl) {
          padding: 5vw !important;
          border-right: 2px solid var(--grey);
          border-left: none;
        }
      }
      .purple4 {
        grid-area: projectArea;
        padding: 50px;
        gap: 30px;
        @include maxw($BPxl) {
          border-right: 2px solid var(--grey);
        }
        #scrollContainer {
          width: 100%;
        }
        h1 {
          font-weight: 800;
          line-height: 0.9;
          font-size: 6vw;
        }
        .green2 {
          max-width: 475px;
          h2:nth-child(3) {
            color: grey;
            letter-spacing: 0.2rem;
          }
          .legend {
            p:nth-child(2) {
              text-decoration: underline;
            }
          }
        }
        .green3 {
          .projectCard {
            height: 44vh;
            min-width: 32%;
            .imgFiller {
              background-color: var(--grey);
              height: 100%;
            }
            summary {
              padding: 0.8rem;
              h3,
              p {
                font-size: 1.1rem;
              }
              h3 {
                font-weight: 700;
                margin-bottom: 2px;
              }
              .btn-info {
                background-color: black !important;
                color: white !important;
                max-width: 120px;
              }
            }
          }
        }
      }
      .githubWrapper {
        grid-area: githubArea;
        .shortHeightWrapper {
          background-color: var(--grey);
          height: 100%;
        }
        #purple5 {
          grid-area: githubArea;
          padding: 30px;
          i {
            color: black !important;
          }
        }
      }
    }
  }
  #yellow4 {
    #aboutMeSection {
      display: grid;
      grid-template-areas:
        "leftBlank aboutMe rightBlank"
        "leftBlank areaSkillSet rightBlank"
        "leftBlank middleBlank rightBlank";
      grid-template-rows: auto auto auto;
      grid-template-columns: var(--CYANMARGINWIDTH) auto var(--CYANMARGINWIDTH);
    }
    #bl1 {
      grid-area: leftBlank;
      outline: 2px solid rgb(238, 16, 16);
    }
    #bl2 {
      grid-area: middleBlank;
      outline: 2px solid rgb(238, 16, 16);
      height: 50px;
    }
    #bl3 {
      grid-area: rightBlank;
      outline: 2px solid rgb(238, 16, 16);
    }
    #titleArea {
      grid-area: aboutMe;
      padding-top: 80px;
      padding-left: 50px;
      outline: 2px solid rgb(238, 16, 16);
      h2 {
        &::after {
          content: "";
          position: absolute;
          top: 87px;
          left: 34px;
          width: 43vw;
          height: 5.8vw;
          z-index: -1;
          background-color: var(--grey);
          @include minw($BPxl) {
            width: 33vw;
            height: 4.2vw;
          }
        }
      }
    }
    #skillSetArea {
      grid-area: areaSkillSet;
      outline: 2px solid rgb(238, 16, 16);
      .anotherQuote {
        padding: 50px;
        flex-basis: 50%;
      }
      .myEvolvingSkillset {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        flex-basis: 50%;
        h3 {
          font-size: 1rem;
          white-space: nowrap;
        }
        .skillSetContainer {
          outline: 2px solid purple;
          height: 100%;
          .icons {
            outline: 2px solid green;
            i {
              font-size: 350%;
            }
          }
          .cert {
            outline: 2px solid green;
            border: 2px solid #c1c1c1;
            background-color: #f1f1f1;

            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 40px;
            padding-right: 40px;
            h3 {
              color: black;
              em {
                font-weight: bold;
                font-style: normal;
                text-align: center;
              }
            }
            i {
              &::before {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
  #contactMeSection {
    display: grid;
    grid-template-areas:
      "leftBlank contactMe rightBlank"
      "leftBlank personalDetails rightBlank";
    outline: 2px solid rgb(238, 16, 16);
  }
}
#projectArea h2,
#aboutMeSection h2 {
  font-weight: 800;
  line-height: 0.9;
  font-size: 6vw;
  @include maxw($BPxl) {
    font-size: 8vw;
  }
  @include maxw($BPmd) {
    font-size: 10vw;
  }
}
.cyan {
  margin-left: var(--CYANMARGINWIDTH);
  @media (max-width: 1199px) {
    margin-left: 0 !important;
  }
}
.goesToLeft {
  left: 0;
}
.goesToRight {
  width: 87.3%;
}
.divider,
.Divider {
  background-color: black;
}
.Divider {
  height: calc(var(--DIVIDER1HEIGHT) / 2);
}
.greybgFiller {
  background-color: var(--grey);
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.flexAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reverse {
  flex-direction: row-reverse;
}
.whFiller {
  width: 100%;
  height: 100%;
}
.wFiller {
  width: 100%;
}
.w-var-greyblw {
  width: var(--GREYBLOCKWIDTH);
}
.analysis-Purple {
  border: 12px solid purple;
}
.flex-xl-gap-0 {
  @media (min-width: 1400px) {
    gap: 0px;
  }
}
.h-30px {
  height: 30px;
}
.w-250px {
  width: 250px;
}
.h-500px {
  height: 500px;
}

.minw-xl-w-100-h-100-minw-80px {
  @media (min-width: $BPxl) {
    width: 100%;
    height: 100%;
    min-width: 80px;
  }
}
.maxw-xl-h-100px-w-100 {
  @media (max-width: $BPxl) {
    height: 100px;
    width: 100%;
  }
}
.minw-80px {
  min-width: 80px;
}
.maxw-150px {
  max-width: 150px;
}
.h-800px {
  height: 800px;
}
